/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 1280px;
  margin: 0 auto;
  overflow: hidden; }

h1, h2, h3, h4, li {
  font-family: Helvetica; }

h1 {
  font-size: 20px;
  font-weight: bold; }

h2 {
  font-weight: bold;
  font-size: 30px; }

h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px; }

h4 {
  font-size: 30px; }

li {
  font-weight: bold;
  font-size: 10px; }

header {
  width: 1280px;
  height: 50px;
  position: fixed;
  background: white;
  overflow: hidden; }
  header h1 {
    float: left;
    margin-top: 20px;
    margin-left: 20px; }
  header nav {
    float: right;
    margin-right: 40px;
    margin-top: 20px; }
  header li {
    float: left;
    margin-right: 40px; }

.main-photo {
  max-width: 1280px;
  height: 580px;
  background: url("../images/main-photo.jpg");
  background-size: cover;
  margin-top: 50px; }

h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; }

.han-box {
  width: 200px;
  float: left;
  margin-left: 100px;
  font-family: Helvetica;
  text-align: center; }
  .han-box .hanphoto {
    height: 200px;
    background: url("../images/han.jpg");
    border-radius: 100px; }
  .han-box .hanstext {
    font-size: 11px;
    margin-top: 20px; }

.chewy-box {
  width: 200px;
  margin-left: 240px;
  margin-right: 240px;
  float: left; }
  .chewy-box .chewyphoto {
    height: 200px;
    background: url("../images/chewbacca.jpg");
    border-radius: 100px; }
  .chewy-box .chewytext {
    font-family: Helvetica;
    font-size: 11px;
    text-align: center;
    margin-top: 20px; }

.darth-box {
  width: 200px;
  float: left; }
  .darth-box .darthphoto {
    height: 200px;
    background: url("../images/darth.jpg");
    border-radius: 100px; }
  .darth-box .darthtext {
    font-family: Helvetica;
    font-size: 11px;
    text-align: center;
    margin-top: 20px; }

.mapbox {
  width: 1280px;
  height: 500px;
  background: #f2ede5;
  margin-top: 110px;
  float: left;
  font-family: Helvetica;
  font-weight: bold; }
  .mapbox .map {
    width: 640px;
    height: 500px;
    background: url("../images/map.png");
    float: left; }
  .mapbox .address-text {
    font-size: 20px;
    margin-left: 130px;
    margin-top: 180px;
    float: left;
    line-height: 1.4; }

footer {
  width: 1280px;
  margin-top: 60px;
  float: left;
  font-family: Helvetica;
  font-size: 20px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
