@import 'reset';


.container {
	width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}
h1, h2, h3, h4, li, p {
	font-family: Helvetica;
}

h1 { 
	font-size: 20px;
	font-weight: bold;
}
h2 {
	font-weight: bold;
	font-size: 30px;
}

h3 {
	font-family: Helvetica;	
	font-weight: bold;
	font-size: 18px;
}	

 h4 {
 	font-size: 30px;
 	font-weight: bold;
}

li {
	font-weight: bold;
	font-size: 10px;
}

p {
	font-size: 11px;
	line-height: 1.4;
}

header {
	width: 1280px;
	height: 50px;
	position: fixed;
	background: white;
	overflow: hidden;
	
	h1 {
	float: left;
	margin-top: 20px;
	margin-left: 20px;	
}
	nav {
	float: right;
	margin-right: 40px;
	margin-top: 20px;
}
	li {
	float: left;
	margin-right: 40px;
}
}

.main-photo {
	max-width: 1280px;
	height: 580px;
	background: url("../images/main-photo.jpg");
	background-size: cover;
}

h2 {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.han-box {
	width: 200px;
	float: left;
	margin-left:100px;
	text-align: center;

	.hanphoto {
	height: 200px;
	background: url("../images/han.jpg");
	border-radius: 100px;
	margin-bottom: 20px;
}		
}

.chewy-box{
	width: 200px;
	margin-left: 240px;
	margin-right: 240px;
	float: left;
	text-align: center;

	.chewyphoto {
	height: 200px;
	background: url("../images/chewbacca.jpg");
	border-radius: 100px;
	margin-bottom: 20px;	
}	
}

.darth-box{
	width: 200px;
	float: left;
	text-align: center;

	.darthphoto {
	height: 200px;
	background: url("../images/darth.jpg");
	border-radius: 100px;
	margin-bottom: 20px;
}	
}

.mapbox {
	width: 1280px;
	height: 500px;
	background: #f2ede5;
	margin-top: 110px;
	float: left;

	.map {
	width:640px;
	height: 500px;
	background: url("../images/map.png");
	float: left;
}
	.address-text {
	margin-left: 130px;
	margin-top: 180px;
	float: left;
}
.address-text p {
	font-size: 20px;
	font-weight: bold;
}
}

footer {
	width: 1280px;
	margin-top: 60px;
	float: left;
	font-family: Helvetica;
	font-size: 20px;
	text-align: center;
}