/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  padding: 0;
   display: block;
  list-style: none;
  overflow: hidden;
  float: right;
}

.nav-collapse li {
  margin-top: 20px;
  // margin-bottom: 10px;
  float: left;
  margin-left: 36px;
  
  a:hover{color: #39C4E0;}
}

.nav-collapse a {
  color: #ccf5ff;
  text-decoration: none;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
  text-decoration: none; 
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #003471;
  float: right;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;

  }
}
