@import 'reset';
@import 'responsive-nav';
@import 'bourbon/bourbon';
@import 'neat/neat';


/*GRID*/
$grid-columns: 12 !default;
$column: modular-scale(3, 1em, $golden) !default;
$gutter: modular-scale(1, 1em, $golden) !default;

/*FONTS*/
$rooney: 'rooney-sans',sans-serif;
$brandon: 'brandon-grotesque',sans-serif;



/*COLOR*/
$dkblue: #374952;
$blue: #0079a2;
$ltblue: #4ebecc;
$gold: #f8cb69;
$white: #f7f9f3;


/*TYPOGRAPHY*/
h1{
	font-family: $rooney;
	font-weight: 400;
	font-size: 3.0em;
	color: $white;

}

h2{
	font-family: $brandon;
	font-weight: 700;
	font-size: 2.2em;
	color: $white;
	line-height: 1.4;
}

h3{
	font-family: $brandon;
	font-weight: 700;
	font-size: 2.0em;
	color: $blue;
	line-height: 1.6;
}

h5{
	font-family: $brandon;
	font-weight: 700;
	font-size: 1.5em;
	color: $gold;
	line-height: 1.6;
}

p{
	font-family: $brandon;
	font-weight: 400;
	font-size: 1.5em;
	line-height: 1.6;
	color: $dkblue;
	margin-bottom: 40px;

}

a{text-decoration: none;}

/*BODY*/
body{background: $white;}


/*HEADER*/
.navigation-wrapper{
	background: $blue;
	width: 100%;
	height: 120px;

	.logo-wrapper{
	// @include span-columns(12);
	text-align: center;
	line-height: 120px;

	height: 120px;

	a{text-decoration: none;}


		h1{display: inline-block;}
	}

}


.logo{
	width: 60px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 26px;

}

nav,
.nav-toggle,{
	font-family: $brandon;
	font-size: 1em;
	font-weight: 300;
	color: $white;
	margin-top: 10px;
	padding-right: 20px;
	float: right;
	
}

.sub-nav-wrapper{
	background: $ltblue;
	// @include span-columns(12);
	height: 60px;
	width: 100%;
}

.btn{
	margin: 0 auto;
	width: 280px;
}

.sign-up-btn,
.log-in-btn{
	width: 100px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;

}

.sign-up-btn{
	background: $white;
}

.log-in-btn{
	background: $gold;

	h5{ color: $white;}
}

/*HERO*/
.hero-stars {
	// @include span-columns(12);
	background: $dkblue;
	height: 400px;
	width: 100%;

}


.stars {
  max-height: 400px;
  width: 100%;

  top: 30px;
  left: 0;
  circle {
    opacity: 0.1;
    animation: twinkle 5s ease infinite;
  }
  circle:nth-of-type(2) {
    animation-delay: 2.5s;
  }
  circle:nth-of-type(3) {
    animation-delay: 1s;
  }
  circle:nth-of-type(4) {
    animation-delay: 2s;
  }
  circle:nth-of-type(5) {
    animation-delay: 0.5s;
  }
  circle:nth-of-type(7) {
    animation-delay: 1.5s;
  }
  circle:nth-of-type(8) {
    animation-delay: 2.75s;
  }
  circle:nth-of-type(10) {
    animation-delay: 1.75s;
  }
  circle:nth-of-type(11) {
    animation-delay: 0.75s;
  }
  circle:nth-of-type(12) {
    animation-delay: 3s;
  }
  circle:nth-of-type(13) {
    animation-delay: 3.5s;
  }
  circle:nth-of-type(14) {
    animation-delay: 3.75s;
  }
}

@keyframes twinkle {
  0% {opacity: 0.1;}
  70% {opacity: 0.9;}
  100% {opacity: 0.1;}
}


.info-box {
	@include outer-container;

	padding: 20px;
	// background: $white;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: -190px;

	.hero-info {
	@include span-columns(12);
	
	h2{
	text-align: center;
margin: 0 auto;}


	
	}
}

/*CONTENT*/	

.content-wrapper{
	@include outer-container;
	width: 100%;
	margin: 0 auto;
	.mission{
	@include span-columns(12);
	padding: 30px;
}

}



/*ONBOARDING*/
.search-tools {  
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $search-tools-border-color: $base-border-color;
  $search-tools-background: lighten($search-tools-border-color, 10%);

  @include display(flex);
  @include justify-content(space-between);
  @include clearfix;
  background: $ltblue;
  border-radius: 5px;
  // border: 1px solid $search-tools-border-color;
  padding: $gutter ($gutter / 2);
  width: 100%;

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 1em;
    line-height: 1.5em;
    list-style: none;
  }

  label {
  	font-family: $brandon;
  	font-size: 1em;
  	color: $dkblue;
    display: block;
    font-weight: bold;
    margin-bottom: $base-spacing / 4;
  }

  .filters {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    width: 100%;

    @include media($large-screen) {
      @include flex-direction(row);
    }
  }

  .filter {
    @include flex-shrink(1);
    @include flex-grow(1);
    margin: 0 0.2em 1em 0.2em;

    @include media($large-screen) {
      margin-bottom: 0;
    }

    > div {
      @include box-sizing(border-box);
      @include transition(border-color);
      background-color: white;
      border-radius: $base-border-radius;
      border: 1px solid $base-border-color;
      font-size: 1em;
      margin-bottom: $base-spacing / 2;
      padding: ($base-spacing / 3) ($base-spacing / 3);
      position: relative;
      width: 100%;

      &:focus,
      &:hover {
        border-color: darken($base-border-color, 10%);
      }

      label {
      	font-family: $brandon;
        cursor: pointer;
        font-weight: 400;
        margin-bottom: 0;
        color: $dkblue;
      }
    }

    ol {
      margin-top: 1em;

      label {
        display: inline;
      }
    }

    button.clear {
      @include position(absolute, 5px 5px auto auto);
      font-size: 0.7em;
    }

    .hide-options {
      margin-bottom: 0;

      ol, button {
        display: none;
      }
    }
  }

  .trigger {
    margin-top: 1.5em;

    
    button {
    background: $gold;
      display: block;
      width: 100%;
      padding: .5em 1em;
      text-align: center;
      border-radius: 5px;
      font-family: $brandon;
      font-size: 1.5em;
      font-weight: 700;
      color: $white;
    }
  }
}





/*FOOTER*/
.wrapper-for-content-outside-of-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

html, body {
 height: 100%;
}

.wrapper-for-content-outside-of-footer:after {
  content: "";
  display: block;
}

.footer, .wrapper-for-content-outside-of-footer:after {
  $large-screen: em(860) !default;
  height: 12em;

  @include media($large-screen) {
    height: 4em;
  }
}

.footer {
	height: 100px;
	background: $blue;

 }

 .footer-logo{
 	@include span-columns(12);
 	// @include shift(3);

	margin-left: 20px;
	margin-top: 30px;
 

 	li{
 		display: inline;
 		margin-right: 20px;
 		margin-bottom: 10px;

 	}
 }

 .sm-logo{
 	width: 30px;
 	vertical-align: middle;
 	margin-right: 0px;
 
 }
 .footer-logo{
 	li{
 		font-family: $brandon;
 		font-size: 16px;
 		color: $white;

 		a{
 			color: $white;
 			text-decoration: none;
 		}
 	}
 }

/* MEDIUM MEDIA QUERY */
@media screen and(min-width: 800px){
	
.btn{
	margin: 0 auto;
	width: 100%;

}



}

/* LARGE MEDIA QUERY */
@media screen and(min-width: 1200px){

}
