/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  padding-bottom: .5em;
  width: 100%;
  display: block;
  list-style: none;
  text-align: right; }

.nav-collapse li {
  display: block;
  margin-bottom: .5em;
  margin-top: 5px; }
  .nav-collapse li a:hover {
    color: #39C4E0; }
  .nav-collapse li a:active {
    color: #39C4E0; }

.nav-collapse a {
  color: #666666;
  text-decoration: none; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px;
  text-decoration: none;
  margin-top: 5px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #003471;
  float: right; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
    float: right; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; }

  .nav-collapse li {
    float: left;
    margin-left: 30px;
    margin-bottom: 0; }
    .nav-collapse li a:hover {
      color: #39C4E0; }
    .nav-collapse li a:active {
      color: #39C4E0; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*GRID*/
/*FONTS*/
/*COLOR*/
/*TYPOGRAPHY*/
h1 {
  font-family: "rooney-sans", sans-serif;
  weight: bold;
  font-size: 50px;
  color: #f7f9f3; }

/*BODY*/
body {
  background: #f7f9f3; }

/*HEADER*/
.navigation-wrapper {
  background: #0079a2;
  width: 100%;
  height: 120px; }
  .navigation-wrapper .logo-wrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    line-height: 120px;
    width: 100%;
    height: 120px; }
    .navigation-wrapper .logo-wrapper:last-child {
      margin-right: 0; }
    .navigation-wrapper .logo-wrapper h1 {
      display: inline-block; }

.logo {
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 26px; }

/*HERO*/
.hero-stars {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #374952;
  height: 400px; }
  .hero-stars:last-child {
    margin-right: 0; }

.stars {
  position: relative;
  max-height: 400px;
  width: 100%;
  top: 30px;
  left: 0; }
  .stars circle {
    opacity: 0.1;
    animation: twinkle 5s ease infinite; }
  .stars circle:nth-of-type(2) {
    animation-delay: 2.5s; }
  .stars circle:nth-of-type(3) {
    animation-delay: 1s; }
  .stars circle:nth-of-type(4) {
    animation-delay: 2s; }
  .stars circle:nth-of-type(5) {
    animation-delay: 0.5s; }
  .stars circle:nth-of-type(7) {
    animation-delay: 1.5s; }
  .stars circle:nth-of-type(8) {
    animation-delay: 2.75s; }
  .stars circle:nth-of-type(10) {
    animation-delay: 1.75s; }
  .stars circle:nth-of-type(11) {
    animation-delay: 0.75s; }
  .stars circle:nth-of-type(12) {
    animation-delay: 3s; }
  .stars circle:nth-of-type(13) {
    animation-delay: 3.5s; }
  .stars circle:nth-of-type(14) {
    animation-delay: 3.75s; }

@keyframes twinkle {
  0% {
    opacity: 0.1; }
  70% {
    opacity: 0.9; }
  100% {
    opacity: 0.1; } }
.hero-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: #f7f9f3;
  border-radius: 5px;
  position: absolute; }
  .hero-info:last-child {
    margin-right: 0; }

/*FOOTER*/
/* MEDIUM MEDIA QUERY */
/* LARGE MEDIA QUERY */

/*# sourceMappingURL=style.css.map */
