
@import 'reset';

@font-face {
	font-family: "Block";
	src: local("block-berthold-regular.ttf"),
	url('block-berthold-regular.ttf');
}

@font-face {
	font-family: "Block-thin";
	src: local("block-berthold-extra-condensed.ttf"),
	url('block-berthold-extra-condensed.ttf');
}

@font-face {
	font-family: "tight";
	src: local("AldineExpanded.ttf"),
	url('AldineExpanded.ttf');
}

$red: #b95d3e;
$black: #464646;



@mixin font($em){
    font-size: ($em*16) + px;
    font-size: ($em) + em;
}

/* TYPOGRAPHY */
h1{
	font-family: "Block", "Arial", sans-serif;
	text-transform: uppercase;
	color: $black;
	@include font(5)
}

h2{
	font-family: "block-thin";
	color: $red;
	@include font(3.4)


}

h3 {
	font-family: "block-thin";
	color: $black;
	text-transform: uppercase;
	@include font(2.6)


}
p {
	font-family: "didot";
	color: $black;
	@include font(1.2)
}


body{
	padding: 60px;
	background-color: #d9ce96;


}
footer {
	font-family: "didot";
	font-weight: bold;
	color: $red;
	@include font(2.2)
}
li {
	font-family: "didot";
	line-height: 1.4;
	@include font(1.3)

}

a:hover {
	color: $red;
}

abbr {
	font-family: "tight";
}

header{
	h1,h2 {
	 -webkit-transform: rotate(-10deg); 
    -moz-transform: rotate(-10deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
}
	h2 {
		margin-top: 20px;
		margin-left: 16px;
		text-transform: lowercase;
	}
}

h1::first-letter{
	font-family: "tight";
	@include font(2)}

h2::first-letter{
	font-family: "tight";
}


h3:after {
  background: $black;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  width: 60%;

}

h3::first-letter{
	font-family: "tight";
	@include font(2.4)

}

h2,h3 {
	 animation-duration: 3s;
  animation-name: slidein;
  /* animation-iteration-count: infinite;
    animation-direction: alternate; */
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

header h2:after {
	content: "";
  	width: 0;
  	height: 0;
  	border-left: 100px solid transparent;
  	border-right: 100px solid transparent;
  	border-top: 100px solid $red;
  	float: left;
  	clear: left;
 	margin-top: 80px;
 	margin-bottom: 20px;

}

.summary {
	width: 60%;
	margin: 0 auto;
	margin-top: 200px;
	margin-bottom: 140px;

	p {
		font-family: "block-thin";
		line-height: 1.6;
		margin-bottom: 20px;
		-webkit-transform: rotate(-8deg); 
    	-moz-transform: rotate(-8deg);  
    	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
		@include font(2)
	}
	
}

.summary a {
	font-family: "tight";
	color: $red;
	text-decoration: none;
}
.summary a:hover{color:$black;}

.summary p:nth-child(2) {
	font-family: "didot";
	margin-left: none;
	@include font(1.4)

}


.preamble p {
	@include font(1.6)
}


.explanation, 
.participation,
.benefits,
.requirements,
.design-archives,
.zen-resources {
	margin-top: 40px;

}

.preamble,
.explanation, .participation,
.benefits,
.requirements {
	margin-bottom: 30px;
	p {
		margin-top: 20px;
		margin-bottom: 20px;
		line-height: 1.6;}

	a {	
		text-decoration: none;
		color: $red;
		font-family: "block";}

	a:hover{ color:$black;}
}

.preamble:after {
	content: "";
  	width: 0;
  	height: 0;
  	border-left: 100px solid transparent;
  	border-right: 100px solid transparent;
  	border-top: 100px solid $red;
 	float: left;
}

.explanation, .participation,
.benefits {
	width: 60%;
	float: left;

	h3{text-align: left;}
}

.preamble,.requirements {
	clear: left;
	float: right;
	width: 60%;
}

.requirements:after {
	content: "";
  	width: 0;
  	height: 0;
  	border-left: 100px solid transparent;
  	border-right: 100px solid transparent;
  	border-top: 100px solid $red;
 	float: left;
 	margin-bottom: 100px;

}

footer {
	float: left;
	margin-bottom: 60px;


	a:hover{color: $red;}

	a{
		display: inline-block;
  		vertical-align: middle;
		text-decoration: none;
		color:$black;
		font-family: "tight";
		margin-right: 30px;
	
	}
}


footer:before {
	content: "";
  	width: 0;
  	height: 100%;
  	border-top: 100px solid transparent;
  	border-bottom: 100px solid transparent;
  	border-left: 100px solid $red;
  	margin-right: 40px;
  	display: inline-block;
  	vertical-align: middle;
}

.design-selection {
	margin:0 auto;
	width: 60%;
	clear: left;
	line-height: 1.6;
	-webkit-transform: rotate(-8deg); 
    	-moz-transform: rotate(-8deg);  
    	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
    	@include font(1.2)

}

.design-selection {
	h3 {
	font-family: "tight";
	color: $red;
	text-align: left;
	@include font(1.3)}

}

.design-selection h3:after {
	content: "";
  display: block;
  height: 0px;
  position: absolute;
  width: 0%;

}

.design-selection,
.design-archives {
	nav a {text-decoration: none;}
	li {color: $red;}
	a:hover{color:$black;}
}

.design-selection {
	.design-name,
    .designer-name{color: $red;}

}
.design-selection {
	.designer-name{
	font-family: "block-thin";
}
}

.design-archives,
.zen-resources {
	width: 40%;
	h3 { margin-bottom: 20px;}
}
.design-archives {
	float: right;
	text-align: right;
	margin-bottom: 40px;
	.next,
	.viewall {
		a {color: $black;}
		a:hover{color:$red;}
}
}
.design-archives h3:after {
  background: $black;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  width: 40%;

}	

.zen-resources {
	float: right;
	text-align: right;
	clear: right;
	
	 	.view-css,
	 	.css-resources,
	 	.zen-faq,
	 	.zen-submit,
	 	.zen-translations{
	 		a{
	 		text-decoration: none;
	 		color: $black;}
	 		a:hover{color:$red;}
	 	}
	 }

.zen-resources:after {
	content: "";
  	width: 0;
  	height: 0;
  	border-left: 100px solid transparent;
  	border-right: 100px solid transparent;
  	border-bottom: 100px solid $red;
 	float: left;
 	margin-top: 20px;
}

.zen-resources h3:after {
  background: $black;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  width: 40%;
}	
	

/* MEDIUM MEDIA QUERY */
@media screen and(min-width: 800px){
	h1{
	font-family: "Block", "Arial", sans-serif;
	text-transform: uppercase;
	color: $black;
	@include font(6)
}
}

/* LARGE MEDIA QUIERY */
@media screen and(min-width: 1280px){
	h1{
	font-family: "Block", "Arial", sans-serif;
	text-transform: uppercase;
	color: $black;
	@include font(7)
}
	
}