@import 'reset';
@import 'responsive-nav';



/* COLORS */
$dkblue: #003471;
$blue: #0076a3;
$cream: #fcfae8;

/* FONTS */
$carved-one: "aw-conqueror-carved-one";
$carved: "aw-conqueror-carved";
$caslon: "adobe-caslon-pro";
	/* font-weight: 600;
	font-style: italic; */

/* TYPOGRAPHY */
h1 {
	font-family: $carved;
	font-size: 3em;
	line-height: 1.8;
	color: $dkblue;
}
h2 {
	font-family: $carved-one;
	font-size: 2.8em;
	line-height: 1.2;
	color: $blue;	

}

h3 {
	font-family: $caslon;
	font-size: 1.6em;
	line-height: 1.6;
	color: $dkblue;
	font-weight: 600;
	font-style: italic;

}
h4{
	font-family: $carved-one;
	font-size: 1.5em;
	line-height: 1.4;
	color: $blue;

}

h5 {
	font-family: $carved-one;
	font-size: 1.3em;
	line-height: 2;
	color: $dkblue;
}

h6 {
	font-family: $carved-one;
	font-size: 1.5em;
	line-height: 1.4;
	color: $blue;

}

p {
	font-family: $caslon;
	font-size: 1.4em;
	line-height: 1.6;
	color: $dkblue;
}

sup {
	 vertical-align: super;
    font-size: 0.75em;
}


footer{
	font-family: $carved-one;
	font-size: 0.8em;
	line-height: 1.2;
	color: $dkblue;
}

/* BODY */

body {background: #fcfae8;}

header {
	width: 100%;
	font-family: $carved-one;
/* 	padding: 5%; */

	h1{
		font-size: 3em;
		text-align: center;
		color: $blue;
		margin-bottom: 20px;
		line-height: 1.2;
	}

	.nav-collapse li {
		text-align: center;

	}
	/* .logo {
		margin: 0 auto;
		display: block;
		margin-bottom: 30px;		
	} */

}

.container {
	padding: 30px;
}

/* ABOUT PAGE */
section {
	.home-image,
	.community-image,
	.dinner-image,
	.lunch-image,
	.breakfast-image {
	width: 100%;
	padding-bottom: 0;
	padding-top: 30px;
	/* background-image: url("../images/blue-dahlia-2.jpg"); */
	}

	p {padding: 50px;}
}

.main-image p {
	text-align: right;
	font-size: 1em;
	padding-right: 10px;
	font-style: italic;
	padding-bottom: 40px;
}

.description {
	margin-bottom: 50px;
}

.location-hours-east, 
.location-hours-west {
/* 	padding-left: 50px; */
	float: left;
	margin-left: 50px;


	h5 {margin-top: 30px;}

	p {
		padding: 0;
		font-size: 1.2em;
		line-height: 1.6;
	}
}

.location-hours-east {
	margin-right: 60px;
}
.location-hours-west{
	margin-bottom: 200px;
/* 	margin-right: 50px; */
	
}

/* COMMUNITY PAGE */
section {

	li {
	font-family: $caslon;
	font-size: 1.4em;
	line-height: 1.9;
	margin-left: 100px;
	

	a {
	text-decoration: none;
	color: $blue;
	}

	a:hover{color: $blue;}

	}
}

.mission {
	margin-bottom: 50px;

}
.local p{
padding-bottom: 30px;

	}


.local-list-1,
.local-list-2 {
	float: left;

}
.local-list-2 {
	margin-bottom: 160px;
}

/* MENU PAGES */
section {
	h1, h2,h3 {
		text-align: center;
		/* padding: 10px; */
		margin-bottom: 24px;
	}
	h3 {
		margin-bottom: 90px;
	}

	h4{
		/* display: inline-block; */
		margin-left: 50px;
		/* margin-right: 50px; */
		margin-bottom: 10px;
		float: left;	
	}

	h6{
		/* display: inline-block; */
		/* clear: left;
 */		float: left;
		margin-right: 50px;
		margin-left: 50px;
		sup {font-size: 0.55em}

	}

	p {
		clear: left;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 10px;
		padding-bottom: 80px;
	}


}

.line-separator {
	height: 1px;
	background: $dkblue;
	border-bottom: 1px solid $dkblue;
	margin-bottom: 24px;
	width: 100%;
}


footer {
	clear: left;
	text-align: center;
	margin-top: 160px;

	h5{
		font-size: 1em;
		line-height: 2;
	}
}


/* MEDIUM MEDIA QUERY */
@media screen and(min-width: 800px){
	.container {
		padding: 70px;
	}

	header h1 {
		font-size: 3.8em;
	}
}

/* LARGE MEDIA QUERY */
@media screen and(min-width: 1200px){
	.container {
		padding: 120px;
	}
}