/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  overflow: hidden;
  text-align: center;
  /*   border: 2px dotted #003471;
    padding: 10px;
    margin-left: 20px; */ }

.nav-collapse li {
  /*   width: 100%; */
  display: inline-block;
  margin-top: 20px;
  /*  margin-bottom: 20px; */
  /*  margin-left: 30px; */
  /* float: left; */
  margin-right: 30px; }

.nav-collapse a {
  color: #003471;
  text-decoration: none; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px;
  text-decoration: none; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #003471;
  /* float: left; */
  /*   margin-left: 10px; */
  display: block; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
/* COLORS */
/* FONTS */
/* font-weight: 600;
font-style: italic; */
/* TYPOGRAPHY */
h1 {
  font-family: "aw-conqueror-carved";
  font-size: 3em;
  line-height: 1.8;
  color: #003471; }

h2 {
  font-family: "aw-conqueror-carved-one";
  font-size: 2.8em;
  line-height: 1.2;
  color: #0076a3; }

h3 {
  font-family: "adobe-caslon-pro";
  font-size: 1.6em;
  line-height: 1.6;
  color: #003471;
  font-weight: 600;
  font-style: italic; }

h4 {
  font-family: "aw-conqueror-carved-one";
  font-size: 1.5em;
  line-height: 1.4;
  color: #0076a3; }

h5 {
  font-family: "aw-conqueror-carved-one";
  font-size: 1.3em;
  line-height: 2;
  color: #003471; }

h6 {
  font-family: "aw-conqueror-carved-one";
  font-size: 1.5em;
  line-height: 1.4;
  color: #0076a3; }

p {
  font-family: "adobe-caslon-pro";
  font-size: 1.4em;
  line-height: 1.6;
  color: #003471; }

sup {
  vertical-align: super;
  font-size: 0.75em; }

footer {
  font-family: "aw-conqueror-carved-one";
  font-size: 0.8em;
  line-height: 1.2;
  color: #003471; }

/* BODY */
body {
  background: #fcfae8; }

header {
  width: 100%;
  font-family: "aw-conqueror-carved-one";
  /* 	padding: 5%; */
  /* .logo {
  	margin: 0 auto;
  	display: block;
  	margin-bottom: 30px;		
  } */ }
  header h1 {
    font-size: 3em;
    text-align: center;
    color: #0076a3;
    margin-bottom: 20px;
    line-height: 1.2; }
  header .nav-collapse li {
    text-align: center; }

.container {
  padding: 30px; }

/* ABOUT PAGE */
section .home-image,
section .community-image,
section .dinner-image,
section .lunch-image,
section .breakfast-image {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 30px;
  /* background-image: url("../images/blue-dahlia-2.jpg"); */ }
section p {
  padding: 50px; }

.main-image p {
  text-align: right;
  font-size: 1em;
  padding-right: 10px;
  font-style: italic;
  padding-bottom: 40px; }

.description {
  margin-bottom: 50px; }

.location-hours-east,
.location-hours-west {
  /* 	padding-left: 50px; */
  float: left;
  margin-left: 50px; }
  .location-hours-east h5,
  .location-hours-west h5 {
    margin-top: 30px; }
  .location-hours-east p,
  .location-hours-west p {
    padding: 0;
    font-size: 1.2em;
    line-height: 1.6; }

.location-hours-east {
  margin-right: 60px; }

.location-hours-west {
  margin-bottom: 200px;
  /* 	margin-right: 50px; */ }

/* COMMUNITY PAGE */
section li {
  font-family: "adobe-caslon-pro";
  font-size: 1.4em;
  line-height: 1.9;
  margin-left: 100px; }
  section li a {
    text-decoration: none;
    color: #0076a3; }

.mission {
  margin-bottom: 50px; }

.local p {
  padding-bottom: 30px; }

.local-list-1,
.local-list-2 {
  float: left; }

.local-list-2 {
  margin-bottom: 160px; }

/* MENU PAGES */
section h1, section h2, section h3 {
  text-align: center;
  /* padding: 10px; */
  margin-bottom: 24px; }
section h3 {
  margin-bottom: 90px; }
section h4 {
  /* display: inline-block; */
  margin-left: 50px;
  /* margin-right: 50px; */
  margin-bottom: 10px;
  float: left; }
section h6 {
  /* display: inline-block; */
  		/* clear: left;
   */
  float: left;
  margin-right: 50px;
  margin-left: 50px; }
  section h6 sup {
    font-size: 0.55em; }
section p {
  clear: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 80px; }

.line-separator {
  height: 1px;
  background: #003471;
  border-bottom: 1px solid #003471;
  margin-bottom: 24px;
  width: 100%; }

footer {
  clear: left;
  text-align: center;
  margin-top: 160px; }
  footer h5 {
    font-size: 1em;
    line-height: 2; }

/* MEDIUM MEDIA QUERY */
@media screen and (min-width: 800px) {
  .container {
    padding: 70px; }

  header h1 {
    font-size: 3.8em; } }
/* LARGE MEDIA QUERY */
@media screen and (min-width: 1200px) {
  .container {
    padding: 120px; } }

/*# sourceMappingURL=style.css.map */
