.container {
	width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}

header {
	width: 1280px;

}

.main-header {	
	height: 50px;
	margin-bottom: 10px;
}

.twitter-logo {
	width: 26px;
	height: 24px;
	margin-left: 192px;
	margin-top: 20px;
	float: left;
}

.search-nav {
	width: 236px;
	height: 34px;
	background: #f5f8fa;
	border-radius: 20px;
	font-family: helvetica;
	color: #7a8d9b;
	font-size: .75em;
	border: 1px solid #afbbc4;
	margin-top: 10px;
	margin-left: 442px;
	float: left;
}

.search {
	padding: 10px;
}

.magglass {
	width: 15px;
	height: 15px;
	float: right;	
}

.log-in {
	float: right;
	color: #495b67;
	font-family: helvetica;
	font-size: .75em;
	margin-right: 192px;
	margin-top: 20px;	
}

strong {
	font-weight: bold;
}

.banner {
	max-width: 1280px;
	height: 324px;
	background-image: url("../images/banner.jpg");
	background-position: -50px;
	background-size: cover;
}

.info {
	height: 64px;
	width: 1280px;
	background: blue;
}

/*------TYPOGRAPHY------*/
h1, h2, h3, h4, h5, h6 {
	font-family: helvetica;

}

h1 {
	font-weight: bold;
	font-size: 1.375em;
}

h5 {
	color: #7a8d9b;
	font-size: 0.875em;
}

h6 {
	color: #7a8d9b;
	font-size: 0.875em;

}

/*------SECTION------*/

section {
	max-width: 1280px;
	background-color: #f5f8fa;
}
/*------profile info------*/

.profile-photo {
	background: #fff;
	width: 226px;
	height: 226px;
	position: absolute;
	margin-left: 172px;
	border-radius: 20px;
	top: 250px;
}
.profile-info {
	width: 314px;
	margin-left: 172px;
	padding-top: 44px;
}
.profile-info p,
.profile-info-list {
	font-family: helvetica;
	font-size: 0.875em;
	line-height: 1.5;
}

.location-icon,
.chains-icon,
.clock-icon,
.photo-icon {
	width: 18px;
	margin-right: 8px;

}

a {
	color: #008fd1;
	text-decoration: none;
}
.photo-album-container {
	width: 314px;
	height: 186px;	
	margin-bottom: 28px;
}
.photo-album {
	float: left;
}

.box {
	border-radius: 10px;
	width: 90px;
	margin-right: 5px;
	margin-top: 5px;
}

/*------sign up------*/
.sign-up-box {
	clear: left;
	margin-left: 162px;
	width: 312px;
	height: 160px;
	background-color: #e1e8ed;
	border-radius: 10px;
}

.sign-up {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.sign-up h1 {
	color: #495b67;
	font-weight: 100;
	margin-bottom: 10px;
}

.sign-up p {
	color: #7a8d9b;
	font-family: helvetica;
	font-size: 0.875em;
	line-height: 1.4;
	margin-bottom: 14px;
}

.sign-up-btn {
	float: left;
	width: 278px;
	height: 40px;
	background-color: #55acee;
	border-radius: 10px;
	margin-left: 16px;
	margin-right: 16px;
}

.sign-up-btn p {
	color: #fff;
	font-family: helvetica;
	font-size: 1em;
	text-align: center;
	padding: 14px;
}