/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* COLORS */
/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, li, p, small {
  font-family: helvetica; }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #fff; }

h2 {
  font-size: 1.5em;
  color: #083452; }

h3 {
  font-size: 0.875em;
  font-weight: bold;
  color: #fff; }

h4 {
  font-weight: bold;
  font-size: 18px;
  color: #106db3; }

h5 {
  font-size: 0.688em;
  color: #083452; }

h6 {
  font-size: 0.875em;
  color: #a3b3bf; }

p {
  font-size: 0.875em;
  color: #5e686f;
  line-height: 2; }

.container {
  width: 100%;
  overflow: hidden; }

header h1 {
  margin-top: 80px; }
header h3 {
  margin-bottom: 60px; }
header .header-image {
  width: 100%;
  /* 	height: 100%; */
  background-image: url("../images/surf.jpg");
  text-align: center;
  overflow: hidden;
  /* background: absolute; */ }
header .logo {
  float: left;
  margin-left: 10px;
  margin-top: 10px; }
header h5 {
  float: left;
  margin-left: 5px;
  margin-top: 18px; }

.primary-nav {
  color: #083452;
  float: right;
  margin-right: 5px;
  margin-top: 10px; }

.primary-nav li {
  font-size: 0.688em;
  color: #083452;
  display: inline-block;
  margin-right: 5px; }
  .primary-nav li .search {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px; }
  .primary-nav li a {
    color: #083452;
    text-decoration: none; }

article {
  width: 100%;
  float: left;
  padding-bottom: 20px; }
  article .blogtext {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px; }
  article .author {
    float: left;
    width: 20px;
    margin-top: 20px; }
  article h6 {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline; }
  article .blog-text a {
    text-decoration: underline; }

.vertical-line {
  border-left: thin solid #a3b3bf; }
  .vertical-line .pquote {
    font-family: helvetica;
    font-style: italic;
    font-size: 1.5em;
    color: #106db3;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }

/* BUTTONS */
.buttons {
  font-family: helvetica;
  font-size: 0.625em;
  color: #fff;
  margin-top: 20px;
  margin-left: 10px;
  float: left; }
  .buttons .comments-button {
    width: 120px;
    height: 30px;
    background: #a3b3bf;
    float: left; }
  .buttons .btn-icon {
    width: 30px;
    height: 30px;
    background: #5e686f;
    float: left;
    margin-right: 5px; }
  .buttons .btn-text {
    padding-top: 10px; }
  .buttons .read-later-button {
    width: 120px;
    height: 30px;
    background: #a3b3bf;
    margin-left: 5px;
    float: left; }
  .buttons .share-button {
    width: 120px;
    height: 30px;
    background: #106db3;
    margin-left: 5px;
    float: left; }
    .buttons .share-button .btn-icon {
      background: #083452; }

.social-media-box {
  width: 280px;
  margin: 0 auto; }
  .social-media-box .social-media li {
    font-size: 0.75em;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
    color: #a3b3bf; }
    .social-media-box .social-media li a {
      text-decoration: none;
      color: #a3b3bf; }
  .social-media-box .aside {
    text-align: center; }
  .social-media-box .author-icon {
    padding-top: 10px;
    margin-left: 100px; }

.ad-box {
  width: 280px;
  height: 330px;
  margin: 0 auto; }
  .ad-box .ad-text {
    font-family: helvetica;
    font-size: 10px;
    float: right;
    color: #a3b3bf;
    margin-top: 10px; }
    .ad-box .ad-text a {
      color: #a3b3bf;
      text-decoration: underline; }

.sidebar-section {
  font-family: helvetica;
  width: 280px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 0.75em;
  color: #a3b3bf;
  line-height: 1.4;
  margin-bottom: 20px; }

.popular-posts-box {
  clear: left;
  width: 100%; }
  .popular-posts-box .line-separator {
    height: 1px;
    background: #a3b3bf;
    border-bottom: 1px solid #a3b3bf; }
  .popular-posts-box .post-text {
    font-family: helvetica;
    font-size: 2em;
    color: #083452;
    text-align: center;
    padding-top: 20px; }

.surfer-stories {
  width: 325px;
  height: 330px;
  margin: 0 auto;
  background-image: url("../images/surfer.jpg"); }
  .surfer-stories .surfing-text {
    margin-left: 20px;
    font-family: helvetica;
    font-size: 1.875em;
    color: #083452;
    margin-top: 10px; }

.surf-brews {
  width: 325px;
  height: 330px;
  margin: 0 auto;
  background-image: url("../images/beer.jpg"); }
  .surf-brews .surf-brews-text {
    margin-left: 20px;
    font-family: helvetica;
    font-size: 1.875em;
    color: #fff;
    margin-top: 10px; }

.zack {
  width: 325px;
  height: 330px;
  margin: 0 auto;
  background-image: url("../images/zack.jpg"); }
  .zack .zack-text {
    margin-left: 20px;
    font-family: helvetica;
    font-size: 30px;
    color: #083452;
    margin-top: 10px; }

.surf-shots {
  width: 325px;
  height: 330px;
  margin: 0 auto;
  background-image: url("../images/booze.jpg"); }
  .surf-shots .surf-shots-text {
    margin-left: 20px;
    font-family: helvetica;
    font-size: 30px;
    color: #083452;
    margin-top: 20px; }

footer {
  width: 100%;
  background-color: #083452;
  float: left;
  margin-top: 10px; }
  footer .ironyard-logo {
    margin-top: 20px;
    margin-left: 50px;
    float: left; }
  footer small {
    font-size: 0.625em;
    color: #a3b3bf;
    float: left;
    margin-left: 10px;
    margin-top: 30px; }

.bottom-nav {
  margin-left: 20px;
  float: left;
  margin-bottom: 20px; }
  .bottom-nav li {
    font-size: 0.625em;
    color: #a3b3bf;
    float: left;
    margin-left: 10px;
    margin-top: 20px; }

/* MEDIA QUERY */
@media screen and (min-width: 500px) {
  /* TYPOGRAPHY */
  h1 {
    font-size: 6.875em;
    margin-top: 220px; }

  h2 {
    font-size: 2.5em; }

  h3 {
    font-size: 1.25em; }

  h4 {
    font-size: 18px; }

  h5 {
    font-size: 0.875em; }

  h6 {
    font-size: 1em;
    color: #a3b3bf; }

  p {
    font-size: 14px;
    color: #5e686f;
    line-height: 2; }

  .container {
    width: 1300px;
    margin: 0 auto; }

  /*------HEADER------*/
  header {
    width: 1300px;
    height: 520px;
    float: left; }
    header h1 {
      margin-top: 220px; }
    header h3 {
      margin-bottom: 20px; }
    header .header-image {
      width: 1300px;
      height: 520px;
      background-image: url("../images/surf.jpg");
      /* position: absolute; */
      overflow: hidden;
      text-align: center; }
    header .logo {
      float: left;
      margin-left: 100px;
      margin-top: 10px; }
    header h5 {
      float: left;
      margin-left: 10px;
      margin-top: 18px; }

  .primary-nav {
    color: #083452;
    float: right;
    margin-right: 150px;
    margin-top: 10px; }

  .primary-nav li {
    font-size: 0.875em;
    color: #083452;
    display: inline-block;
    margin-right: 10px; }
    .primary-nav li .search {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
    .primary-nav li a {
      color: #083452;
      text-decoration: none; }

  /*------SECTION------*/
  /* section {
  	width: 1300px;	
  } */
  article {
    width: 860px;
    float: left;
    padding-bottom: 70px; }
    article .blogtext {
      margin-left: 160px;
      margin-right: 80px;
      margin-top: 90px; }
    article .author {
      float: left;
      width: 20px;
      margin-top: 20px; }
    article h6 {
      margin-left: 120px;
      margin-top: 30px;
      margin-bottom: 34px;
      text-decoration: underline; }
    article .blog-text a {
      text-decoration: underline; }

  .vertical-line {
    border-left: thin solid #a3b3bf; }
    .vertical-line .pquote {
      font-size: 1.875em;
      margin-left: 20px;
      margin-top: 40px;
      margin-bottom: 40px; }

  /*-----BUTTONS------*/
  .buttons {
    font-family: helvetica;
    font-size: 0.625em;
    color: #fff;
    margin-top: 20px;
    margin-left: 160px; }
    .buttons .comments-button {
      width: 160px;
      height: 30px;
      background: #a3b3bf;
      float: left; }
    .buttons .btn-icon {
      width: 30px;
      height: 30px;
      background: #5e686f;
      float: left;
      margin-right: 10px; }
    .buttons .btn-text {
      padding-top: 10px; }
    .buttons .read-later-button {
      width: 130px;
      height: 30px;
      background: #a3b3bf;
      margin-left: 10px;
      float: left; }
    .buttons .share-button {
      width: 150px;
      height: 30px;
      background: #106db3;
      margin-left: 10px;
      float: left; }
      .buttons .share-button .btn-icon {
        background: #083452; }

  /*------ASIDE------*/
  aside {
    width: 440px;
    float: right; }

  .social-media-box {
    width: 280px;
    margin-right: 160px; }
    .social-media-box .social-media li {
      font-size: 0.875em;
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 60px;
      display: inline-block;
      color: #a3b3bf; }
      .social-media-box .social-media li a {
        text-decoration: none;
        color: #a3b3bf; }
    .social-media-box .aside {
      text-align: center; }
    .social-media-box .author-icon {
      padding-top: 90px;
      margin-left: 100px; }

  .ad-box {
    width: 280px;
    height: 330px;
    float: left; }
    .ad-box .ad-text {
      font-family: helvetica;
      font-size: 10px;
      float: right;
      color: #a3b3bf;
      margin-top: 10px; }
      .ad-box .ad-text a {
        color: #a3b3bf;
        text-decoration: underline; }

  .sidebar-section {
    font-family: helvetica;
    width: 280px;
    float: left;
    margin-top: 50px;
    font-size: 13px;
    color: #a3b3bf;
    line-height: 1.5; }

  .popular-posts-box {
    clear: left;
    width: 1300px;
    height: 150px; }
    .popular-posts-box .line-separator {
      height: 1px;
      background: #a3b3bf;
      border-bottom: 1px solid #a3b3bf; }
    .popular-posts-box .post-text {
      font-family: helvetica;
      font-size: 50px;
      color: #083452;
      text-align: center;
      padding-top: 50px; }

  .surfer-stories {
    width: 325px;
    height: 330px;
    float: left;
    background-image: url("../images/surfer.jpg"); }
    .surfer-stories .surfing-text {
      margin-left: 20px;
      font-family: helvetica;
      font-size: 30px;
      color: #083452;
      margin-top: 290px; }

  .surf-brews {
    width: 325px;
    height: 330px;
    float: left;
    background-image: url("../images/beer.jpg"); }
    .surf-brews .surf-brews-text {
      margin-left: 20px;
      font-family: helvetica;
      font-size: 30px;
      color: #fff;
      margin-top: 290px; }

  .zack {
    width: 325px;
    height: 330px;
    float: left;
    background-image: url("../images/zack.jpg"); }
    .zack .zack-text {
      margin-left: 20px;
      font-family: helvetica;
      font-size: 30px;
      color: #083452;
      margin-top: 260px; }

  .surf-shots {
    width: 325px;
    height: 330px;
    float: left;
    background-image: url("../images/booze.jpg"); }
    .surf-shots .surf-shots-text {
      margin-left: 20px;
      font-family: helvetica;
      font-size: 30px;
      color: #083452;
      margin-top: 290px; }

  /*------FOOTER------*/
  footer {
    width: 1300px;
    height: 100px;
    background-color: #083452;
    float: left;
    margin-top: 0px; }
    footer .ironyard-logo {
      margin-top: 30px;
      margin-left: 160px;
      float: left; }
    footer small {
      font-size: 10px;
      color: #a3b3bf;
      float: left;
      margin-left: 18px;
      margin-top: 50px; }

  .bottom-nav {
    margin-right: 160px;
    float: right; }
    .bottom-nav li {
      font-size: 10px;
      color: #a3b3bf;
      float: left;
      margin-right: 10px;
      margin-top: 50px; } }

/*# sourceMappingURL=style.css.map */
