@import 'reset';
@import 'bourbon/bourbon';

/*FONTS*/
$open: "Open Sans", sans-serif;
$rooney: 'rooney-sans',sans-serif;
$brandon: 'brandon-grotesque',sans-serif;


/*COLORS*/
$dkblue: #374952;
$blue: #0079a2;
$ltblue: #4ebecc;
$gold: #f8cb69;
$white: #f7f9f3;
$sky: #dcf4f3;
$grey: #666666;


/*TYPOGRAPHY*/
h1{
	font-family: $rooney;
	font-weight: 400;
	font-size: 3.0em;
	font-size: 48px;
	color: $white;

}
h2{
	font-family: $open;
	font-size: 2.4em;
	font-weight: 700;
	color: $grey;


}

h3{
	font-family: $open;
	font-weight: 600;
	font-size: 1.6em;
	color: $grey;
	line-height: 1.2;
}

h4{
	font-family: $open;
	font-weight: 400;
	font-size: 1.4em;
	color: $grey;
}

p{
	font-family: $open;
	font-weight: 300;
	font-size: 1.313em;
	line-height: 1.8;
	color: $grey;

}
li{
	font-family: $open;
	font-weight: 400;
	font-size: 1.4em;
	line-height: 1.6;
	color: $grey;


	a{
		color: $grey;
		text-decoration: none;
		border-bottom: 3px solid $ltblue;
	}
}

/*TABLE OF CONTENTS*/
.navigation-wrapper{
	background: $blue;
	width: 100%;
	padding-top: 30px;

	.logo-wrapper{
	text-align: center;
	height: 120px;

	a{text-decoration: none;}
	h1{display: inline-block;}
	}

}


.logo{
	width: 60px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 26px;

}


.wrapper{
	padding: 5%;
}

.tableofcontents{
	float: left;
	margin-right: 150px;
	margin-left: 20px;
	margin-bottom: 100px;

	li{margin-bottom: 30px;}

	 a:hover{color:$blue;}
}


.link {
	margin-top: 60px;
	clear: left;
	float: left;
	margin-bottom: 20px;
	 a{
	 	color: $grey;
	 	 border-bottom: 3px solid $ltblue;
	 	 text-decoration: none;
	 
	 }
	 a:hover{color:$blue;}
}

/*OVERVIEW*/
.main{
	float: left;
	width: 90%;
p{margin-bottom: 20px;}
}

.main h2{
	margin-bottom: 60px;
}
.main h3{
	margin-bottom: 20px;
}

.group{margin-bottom: 200px;}

.solution-list{
	margin-left: 60px;

	li{
		font-family: $open;
		font-weight: 300;
		font-size: 1.313em;
		line-height: 1.6;
		margin-bottom: 30px;
	}
}
ul{
	list-style-type: disc;
	margin-bottom: 40px;

}

/*PROCESS*/
.process{
	width: 90%;
	margin-top: 20px;

}

/*GRID*/
.grid, .grid2,.grid3,.grid4,.grid5,.grid6{
	background: $blue;
	margin-bottom: 20px;
	float: left;
	color:#fff;
	padding: 2%;
	text-align: center;
	font-family: $open;
}


.grid{
	width: 100%;
}

.grid3{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}


.grid4{
margin-left: 1%;

}

.grid2{
	margin-right: 1%;
	margin-left: 10%;
}
.grid2, .grid4{width: 37%;}

.grid5{
	width: 24%;
	margin-right: 2%;
	margin-left: 10%;
}

.grid6{
	float: left;
	width: 50%;
}

/*TYPE*/
.type-example{
	font-size: 2.8em;
	line-height: 1.6;
}

.rooney,
.brandon{
	margin-bottom: 130px;
	p{ margin-bottom: 40px;}
}
.rooney{
	.type-example{font-family: $rooney;}
}
.brandon{
	.type-example{font-family: $brandon;}
}


.text-examples{
	h1,h2,h3,h4,h5,h6,p,span{
	color: $grey;
	padding: 0;
	margin-bottom: 10px;
	margin-left: 0;
	}
}

 .text-examples{
  	h1{
	font-family: $rooney;
	font-weight: 400;
	font-size: 3.0em;
	font-size: 48px;


}

h2{
	font-family: $brandon;
	font-weight: 700;
	font-size: 1.4em;
	font-size: 22px;
	line-height: 1.3;
}

h3{
	font-family: $brandon;
	font-weight: 700;
	font-size: 2.0em;
	font-size: 32px;
	line-height: 1.2;
}

h4{
	font-family: $brandon;
	font-weight: 400;
	font-size: 1.5em;
	font-size: 24px;
	line-height: 1.6;
}


h5{
	font-family: $brandon;
	font-weight: 400;
	font-size: 1.25em;
	font-size: 20px;
	line-height: 1.6;
}

h6{
	font-family: $brandon;
	font-weight: 400;
	font-size: 1.2em;
	font-size: 19px;
	line-height: 1.6;
}
span{
	font-family: $brandon;
	font-weight: 400;
	font-size: 1.25em;
	font-size: 20px;
	line-height: 1.6;


}
 }

.text-examples p{
	color: #a7a7a7;
	font-size: 1em;
	margin-bottom: 50px;
}
 /*COLOR*/
 .color{
 	margin-bottom:80px;

 }
.dkblue{background: $dkblue;}
.blue{background: $blue;}
.ltblue{background: $ltblue;}
.gold{background: $gold;}
.white{background: $white;}
.sky{background: $sky;}

.dkblue,
.blue,
.ltblue,
.gold,
.white,
.sky
{
	margin-right: 20px;
	width: 120px;
 	height: 120px;
 	float: left;
}

/*LOGOS*/
.sm-logo{
	width: 40px;
	margin-bottom: 60px;
}
.logo-png{
	width: 400px;
}

.lg-icon{width: 200px;}

.profile{width: 120px;}

/*IMAGES*/
.image-example{
	width: 100%;
}

/*ELEMENTS*/
.sm-navigation{ 
	width: 160px;
	margin-right: 20px;
}

.lg-navigation{
	width: 224px;
	margin-top: 20px;
}

.elements{width: 100%;}

/*STARS*/
.hero-stars {
	position: relative;
	background: $dkblue;
	height: 250px;
	width: 100%;
	margin-bottom: 40px;

}

.star-backdrop{
	overflow: hidden;
	 max-height: 250px;
}

.stars {
	position: absolute;
	overflow: hidden;
  	width: 100%;

  top: 0;
  left: 0;
  circle {
    opacity: 0.1;
    animation: twinkle 5s ease infinite;
    @include animation(scale 5s twinkle, ease infinite);
  }
  circle:nth-of-type(2) {
    animation-delay: 2.5s;
    @include animation-delay(2.5s);
  }
  circle:nth-of-type(3) {
    animation-delay: 1s;
    @include animation-delay(1s);
  }
  circle:nth-of-type(4) {
    animation-delay: 2s;
    @include animation-delay(2s);
  }
  circle:nth-of-type(5) {
    animation-delay: 0.5s;
    @include animation-delay(0.5s);
  }
  circle:nth-of-type(7) {
    animation-delay: 1.5s;
    @include animation-delay(1.5s);
  }
  circle:nth-of-type(8) {
    animation-delay: 2.75s;
    @include animation-delay(2.75s);
  }
  circle:nth-of-type(10) {
    animation-delay: 1.75s;
    @include animation-delay(1.75s);
  }
  circle:nth-of-type(11) {
    animation-delay: 0.75s;
    @include animation-delay(0.75s);
  }
  circle:nth-of-type(12) {
    animation-delay: 3s;
    @include animation-delay(3s);
  }
  circle:nth-of-type(13) {
    animation-delay: 3.5s;
    @include animation-delay(3.5s);
  }
  circle:nth-of-type(14) {
    animation-delay: 3.75s;
    @include animation-delay(3.75s);
  }
}

@keyframes twinkle {
  0% {opacity: 0.1;}
  70% {opacity: 0.9;}
  100% {opacity: 0.1;}

  @include keyframes(twinkle) {
  from {
  	@include transform(scale(0));
  }
  	to {
  	@include transform(scale(1));
  	}
}
}

/*BUTTONS*/
.btn{
	margin-bottom: 20px;


	a{text-decoration: none;}

	 h5{
	 	font-weight: 400;
		font-size: 1.25em;
		font-size: 20px;
	 	font-family: $brandon;
	 	margin-top: 10px;
	 }
}

.sign-up-btn,
.log-in-btn {
	width: 90px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	float: left;
	margin-top: 10px;
	box-shadow: #c69a42 1px 1px, #f9e4b9 -1px -1px;
	
}

.log-in-btn{
	background: $dkblue;
	h5{ color: $gold;}
}

.sign-up-btn{
	background: $gold;

	h5{ color: $dkblue;}
}

/* MEDIUM MEDIA QUERY */
@media screen and(min-width: 800px){
	h1{
		font-size: 3.2em;
		text-align: center;
	}
	.title{height: 180px;}
	.main{width: 50%;}

	.text-examples{
		h1{text-align: left;}
	}

	
}

/* LARGE MEDIA QUERY */
@media screen and(min-width: 1200px){
	.main{width: 70%;}
}
