@import 'reset';

/*FONTS*/
$open: 'Open Sans', sans-serif;
$carved-one: "aw-conqueror-carved-one";
$carved: "aw-conqueror-carved";
$caslon: "adobe-caslon-pro";



/*COLORS*/
$dkblue: #003471;
$blue: #0076a3;
$grey: #666666;


/*TYPOGRAPHY*/
h1{
	font-family: $open;
	font-weight: 700;
	font-size: 2.4em;
}

h2{
	font-family: $open;
	font-weight: 700;
	font-size: 1.5em;
	color: $grey;
}

h3{
	font-family: $open;
	font-weight: 700;
	font-size: 1.2em;
	color: $grey;
}

p{
	font-family: $open;
	font-weight: 400;
	font-size: 1.313em;
	line-height: 1.6;
	color: $grey;

}
li{
	font-family: $open;
	font-weight: 600;
	font-size: 1.313em;
	line-height: 1.6;
	color: $grey;

	a{color: $grey;}
}

.title{
	background: #fcfae8;
	margin-bottom: 20px;
	height: 100px;

	h1{	margin-left: 20px;}
}
.wrapper{
	padding: 5%;
}

.tableofcontents{
	float: left;
	margin-right: 100px;
	margin-left: 20px;
	margin-bottom: 100px;

	li{margin-top: 20px;}
	 a{text-decoration: none;}
}


.main{
	float: left;
	width: 70%;}

.line-separator {
	height: 1px;
	background: $dkblue;
	border-bottom: 1px solid $dkblue;
	margin-bottom: 24px;
	width: 100%;
}

/*PROCESS*/
